.display{
  background:gray;
  color:#FFF;
  width:200px;
  height:200px;
  line-height:200px;
  text-align:center;
  margin:auto;
  font-size: 30px;
}

.button{
  width:250px;
  height:200px;
  position:relative;
  margin:0 auto;
}

.btn{
  width: 70px;
  height: 45px;
  border-radius: 10px;
  font-size: 25px;
}

.btnMinus{
  position:absolute;
  left:0;
}
.btnPlus{
  position:absolute;
  right:0;
}

/* img{
  width:100%;
  height:100%;
} */


/* button{
  margin: 0 auto;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
